<a href="https://colab.research.google.com/github/hillsera/pandas-assignment-2/blob/main/Ch4_Activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
file_name = '/content/sample_data/car.csv'
data_frame = pd.read_csv(file_name)

In [ ]:
data_frame.head(10)

  buying  maint  doors  persons lug_boot safety  class
0  vhigh  vhigh      2      2.0    small    low  unacc
1  vhigh  vhigh      2      2.0    small    med  unacc
2  vhigh  vhigh      2      NaN    small   high  unacc
3  vhigh  vhigh      2      2.0      med    low  unacc
4  vhigh  vhigh      2      2.0      med    med  unacc
5    NaN  vhigh      2      2.0      med   high    NaN
6  vhigh  vhigh      2      2.0      big    low  unacc
7  vhigh  vhigh      2      2.0      big    NaN  unacc
8  vhigh  vhigh      2      2.0      big   high  unacc
9  vhigh    NaN      2      4.0    small    low  unacc

In [ ]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1727 non-null   object
 1   maint     1727 non-null   object
 2   doors     1728 non-null   int64
 3   persons   1151 non-null   float64
 4   lug_boot  1728 non-null   object
 5   safety    1727 non-null   object
 6   class     1727 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 94.6+ KB

In [ ]:
data_frame.fillna(value = {'buying': 'Missing',
                           'maint': 'Missing',
                           'safety': 'Missing',
                           'class': 'Missing',
                           'persons': 0},
                  inplace = True)
data_frame.head(10)

    buying    maint  doors  persons lug_boot   safety    class
0    vhigh    vhigh      2      2.0    small      low    unacc
1    vhigh    vhigh      2      2.0    small      med    unacc
2    vhigh    vhigh      2      0.0    small     high    unacc
3    vhigh    vhigh      2      2.0      med      low    unacc
4    vhigh    vhigh      2      2.0      med      med    unacc
5  Missing    vhigh      2      2.0      med     high  Missing
6    vhigh    vhigh      2      2.0      big      low    unacc
7    vhigh    vhigh      2      2.0      big  Missing    unacc
8    vhigh    vhigh      2      2.0      big     high    unacc
9    vhigh  Missing      2      4.0    small      low    unacc

In [ ]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   int64
 3   persons   1728 non-null   float64
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 94.6+ KB

In [ ]:
data_frame['buying'].nunique()

5

In [ ]:
data_frame['maint'].nunique()

5

In [ ]:
data_frame['doors'].nunique()

4

In [ ]:
data_frame['persons'].nunique()

3

In [ ]:
data_frame['lug_boot'].nunique()

3

In [ ]:
data_frame['safety'].nunique()

4

In [ ]:
data_frame['class'].nunique()

5

In [ ]:
data_frame['buying'] = data_frame['buying'].astype('category')
data_frame['maint'] = data_frame['maint'].astype('category')
data_frame['lug_boot'] = data_frame['lug_boot'].astype('category')
data_frame['safety'] = data_frame['safety'].astype('category')
data_frame['class'] = data_frame['class'].astype('category')

In [ ]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   category
 1   maint     1728 non-null   category
 2   doors     1728 non-null   int64
 3   persons   1728 non-null   float64
 4   lug_boot  1728 non-null   category
 5   safety    1728 non-null   category
 6   class     1728 non-null   category
dtypes: category(5), float64(1), int64(1)
memory usage: 36.5 KB